<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ProyectoBaseD.Properties.Settings.proyectobaseConnectionString"
      connectionString="GABO-PC;Initial Catalog=tecPro;User ID=gabo;Password=gabo"
      providerName="System.Data.SqlClient" />
    <add name="Proyecto_JC_Distribuidres_2.Properties.Settings.tecProConnectionString"
      connectionString="Data Source=GABO-PC;Initial Catalog=tecPro;User ID=gabo;Password=gabo"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>